.burger{
    width: 400px;
    height: 300px;
}
#h1{
    text-align: center;
}
.body{
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/004/946/657/large/eric-carroll-wood-texture-1.jpg?1487374672");
}